@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

.active hr {
    display: block;
}

*{
    font-family: Outfit;
}
@theme {
    --color-primary: #1E3A8A;
}

.btn-primary {
    background-color: var(--color-primary);
    color: #1E3A8A;
    border: none;
    padding: 10px 20px;
}

::-webkit-scrollbar {
    display: none;
}

.grid-cols-auto {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}