@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #1E3A8A;
}
.text-thin {
    font-weight: normal !important;
  }
* {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.active hr {
    display: block;
}

::-webkit-scrollbar {
    display: none;
}

.grid-cols-auto {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}